/*#region Navbar*/
Header {
    height: 15%;
    width: 100%;
}

nav {
    position: sticky;
    top: 0px;
}

.Logo {
    width: 190px;
    height: 110px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.ZBClogo {
    height: 100%;
    width: 100%;
}
/*#endregion*/

/*#region Dropdown*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
    width: 100%;
    font-family: Arial;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            color: #000000;
            background-color: #ffffff;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
/*#endregion*/

@media only screen and (max-width: 375px) {
    body {
        font-size: 20px;
    }
}