.container {
    position: relative;
    width: 1650px;
    height: 307px;
    margin: 24px auto;
    background: #c0daea;
}

parent {
    position: relative
}

.logo {
    background-image: gang;
    width: 600px;
    top: relative;
    left: 0;
    z-index: 9
}

.backgroundimage {
    position: relative;
    background-image: url(gangtilhjemmeside.jpg);
    height: 600px;
    width: 1650px;
}

.gang {
    background-image: url("gangtilhjemmeside.jpg");
    width: 1650px;
    height: 600px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10
}

Firstbox {
    
}


/*Farven grøn og position nr 4*/
.box5 {
    display: inline-block;
    float: left;
    width: 400px;
    height: 300px;
    background: #87e794;
    border: solid;
}


body {
    margin: 0px;
    padding: 0px;
}

.Header {
    height: 15%;
    width: 100%;
    /*padding-bottom: 15%;*/
}

nav {
    position: sticky;
    top: 0px;
}

ul {
    list-style-type: none;
    background-color: #808080;
    overflow: hidden;
    top: 12%;
    width: 98%;
}

li a {
    font-family: Arial;
    font-size: 70%;
    text-decoration: none;
    text-align: center;
    color: white;
    float: right;
    display: block;
    padding: 1% 1%;
}

    li a:hover {
        background-color: #ffffff;
        color: black;
        background-image: url('gang_til_hjemmeside.jpg');
    }

body {
    background-image: url('img_girl.jpg');
}

.Logo {
    width: 190px;
    height: 110px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.ZBClogo {
    height: 100%;
    width: 100%;
}
