body {
    margin: 0px;
    padding: 0px;
}

.Header {
    height: 15vh;
    width: 100vw;
    border-bottom: 1px solid black;
}

.LogNewUser {
    background-color: #808080;
    overflow: hidden;
    position: fixed;
    top: 15%;
    width: 100%;
}

.ButtenNav {
    font-family: Arial;
    font-size: 70%;
    text-decoration: none;
    text-align: center;
    color: white;
    float: right;
    display: block;
    padding: 1% 1%;
}

.LogNewUser :hover {
    background-color: #ffffff;
    color: black;
}

.Logo {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
